.box{
    background-color: aqua;
    transform: translate(445px,40px);
    /* transform: rotate(-60deg); */ */
    margin: 200px;
    /* transform: scale(1.5,1.5); */
    /* transform: skew(91deg); */
    /* transform: matrix(.2,.3,.2,3,2,3); */
    /* transform: matrix(scalex,SKEWY,SKEWX,SCALEY,TRANSLATEX,TRANSLATEY); */
}